<!DOCTYPE html>
<html>
  <head>
    <title>MarkDown Editor</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body class="container-fluid">
    <section class="row">
      <textarea class="col-md-6 full-height" id="inputData">
					Welcome to MarkDown Editor
			</textarea
      >
      <div class="col-md-6 full-height" id="outputData"></div>
    </section>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
